.content-container {
  width: 1240px !important;
}
header.app-bar div.v-toolbar__content {
  width: 1240px !important;
}
.app-logo {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
$breakpoints: (
  1264px: 1080px,
  1080px: 960px,
  960px: 840px,
  840px: 100%
);
@each $screenWidth, $containerWidth in $breakpoints {
  @media screen and (max-width: $screenWidth) {
    .content-container {
      width: $containerWidth !important;
    }
    header.app-bar div.v-toolbar__content {
      width: $containerWidth !important;
    }
  }
}
@media screen and (max-width: 840px) {
  header.app-bar {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

$condensed-input-font-size: 14px;
$condensed-input-height: 24px;
.condensed-input {
  font-size: $condensed-input-font-size;
  text-transform: lowercase;

  .v-input {
    .v-input__control {
      height: $condensed-input-height !important;
      min-height: $condensed-input-height !important;
      max-height: $condensed-input-height !important;

      .v-input__slot {
        height: $condensed-input-height !important;
        min-height: $condensed-input-height !important;
        max-height: $condensed-input-height !important;

        .v-select__slot {
          height: $condensed-input-height !important;
          min-height: $condensed-input-height !important;
          max-height: $condensed-input-height !important;

          .v-label {
            font-size: $condensed-input-font-size;
            text-transform: lowercase;
            position: static !important;
          }
          .v-select__selections {
            font-size: $condensed-input-font-size;
            text-transform: lowercase;

            .v-chip {
              height: 16px;

              .v-chip__content {
                .v-icon {
                  font-size: $condensed-input-font-size !important;
                }
              }
            }
          }
          .v-input__append-inner {
            margin-top: 0px !important;
          }
        }
      }

      .v-text-field__details {
        // display: none;
        position: relative;
        left: 15px;
        top: 5px;
      }
    }
  }

  .v-menu__content {
    top: auto !important;
    left: auto !important;

    .v-select-list {
      .v-list-item {
        font-size: $condensed-input-font-size;
        height: $condensed-input-height;
        min-height: $condensed-input-height;
        max-height: $condensed-input-height;
      }
    }
  }
}

/* 'page' transition */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
/*
.page-enter,
.page-leave-to {
  opacity: 0;
}
*/
.page-enter {
  opacity: 0;
}


/* disable text highlighting */
.disable-text-highlighting {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor--not-allowed {
  cursor: not-allowed !important;
}
